.invisible {
    display: none;
}

h3 {
    vertical-align: middle;
    text-align: center;
}


/*---    Banner   ---*/

#banner {
    height: 20vh;
    background-color: black;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: auto;
}

#banner img {
    height: 10vh;
    margin-top: 3vh;
}

#banner p {
    font-family: 'Barrio', cursive;
    font-size: 4vh;
    color: white;
}


/*   ---Barra de navegacion   ---*/

.navbar {
    border-radius: 0;
    margin-bottom: 10px;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-btn {
    margin-right: 4px;
    font-size: 110%;
}


/*---    Cabecera lista de parkings   ---*/

.nav-tabs li a {
    color: white;
}

.nav-tabs .active a {
    color: #337ab7;
    background-color: white;
}

.nav-tabs li a:hover {
    color: #23527c;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #337ab7;
}


/*--- Lista de parkings   ---*/

.list-group {
    height: 81vh;
    overflow-y: scroll;
    margin-bottom: 0;
}

.panel-body {
    padding: 0;
    padding-bottom: 1px;
}

.glyphicon-map-marker {
    float: right;
    font-size: 1.2em;
    color: dodgerblue;
}


/*---   Aviso antes de cargar los parkings   ---*/

#load_ad, #collection_ad {
    height: 81vh;
}

#load_ad p, #collection_ad {
    text-align: center;
    color: #aaa;
    padding: 0 20px;
    padding-top: 23vh;
    font-size: 20px;
}

#load_ad button {
    margin-left: 5%;
    width: 90%;
}


/*---   Mapa   ---*/

#map {
    height: 86vh;
}

.leaflet-popup-content .btn {
    margin: 3px;
}

.leaflet-popup-content {
    text-align: center;
}

.footer {
    height: 5vh;
}
